#infobar {
  float: left;
  width: 20em;
  /* width: 30em;    try larger width for component list */
}

#infobar div {
  border: 1px solid black;
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
}

#overviewbar {
  float: left;
}

.info {
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: 10em 7em;

}

.label {
  grid-column: 1 / 3;
  /* text-align: center; */
}

#username {
  border: 1px solid black;
  float: right;
  font-size: x-large;
  padding: 0.2em 0.5em;
}

th {
  background: rgba(102, 204, 102, 0.4);
}

tr:nth-child(even) {
  background: rgba(102, 102, 204, 0.4);
}

/* Ensure the decision field fills all the space */
td:nth-child(4) {
  width: 100%;
}

td.undecided {
  background-color: orange;
}

#action {
  text-align: center;
}

div#infobar div#action {
  border-width: 3px;
  padding: 0.5em 0;
}

#summary {
  text-align: center;
}

select + table {
  margin-top: 1em;
}

#usercontent {
  min-height: 3em;
}

#home {
  text-align: center;
}

#home a {
  display: inline-block;
  padding: 0.2em 0.5em;
}

#home a:hover {
}

.stackid {
  font-size: larger;
  min-height: 1.5em;
}

.rebin , .blur {
  background-color: rgba(217, 83, 79, 0.6);  /* red-ish */
  border-radius: 0.3em;
  float: left;
  margin-right: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  padding-top: 0.2em;
}

.panner {
  padding-left: 0.2em;
}

.zoom button , .panner button , .save button , .reload button ,
.colorize select , .bandchoice select {
  background-color: rgba(217, 83, 79, 0.6);  /* red-ish */
}

.kitchensink span + span {
  padding-left: 0.2em;
}

.kitchensink {
  padding-bottom: 0.2em;
}

.colorize , .bandchoice {
  float: right;
}

/***
.reload , .zoom , .panner , .colorize , .bandchoice {
  float: left;
}
***/

/* The "label" for the button bar */
.rebin span , .blur span {
  border-right-color: rgba(20, 20, 20, 0.4);
  border-right-style: solid;
  border-right-width: 3px;
  font-family: monospace;
  font-size: smaller;
  padding-bottom: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.2em;
}

/* restyle the radio buttons to try and save space */
div.useropts input[type='radio'] {
  display: none;
}

div.useropts label {
  border: 1px solid rgba(212, 63, 58, 0.4);
  color: white;
  /* cursor: pointer; */
  /* display: inline-block; */
  font-family: monospace;
  font-size: smaller;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
}

div.useropts label:hover {
  background-color: rgba(210, 35, 45, 0.6);
  border-color: rgb(172, 41, 37);
}

div.useropts input[type='radio']:checked + label {
  background-color: rgba(217, 83, 79, 0.8);  /* red-ish */
  border: 1px solid rgb(212, 63, 58);
  color: black;
}

div.JS9Menubar {
  clear: both;
}


.hulllink {
  border: 1px solid rgb(212, 63, 58);
  border-radius: 0.5em;
  color: white;
  display: inline-block;
  font-family: monospace;
  font-size: smaller;
  margin-top: 0.4em;
  padding: 0.2em 0.5em;
  width: 2em;
}

span.hulllink {
  color: black;
}

a.hulllink {
  background-color: rgba(217, 83, 79, 0.8);  /* red-ish */
  cursor: pointer;
  text-decoration: none;
}

a.hulllink:hover {
  background-color: rgba(210, 35, 45, 0.8);
  border-color: rgb(172, 41, 37);
}

.hulllink + .hulllink {
  margin-left: 0.2em;
}

#componentselect {
  width: 10em;
}

#colormapping {
  display: none;
}

#colormappingselect {
  width: 10em;
}
