<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>{{ ensemble }}</title>
    <link rel='stylesheet' type='text/css' href='/css/ensemble.css'>
    <script src='/js/js9/js/spin.js'></script>
    <script src='/js/ensemble.js'></script>
  </head>
  <body onload='initialize("{{ ensemble }}");'>

    <div id='infobar'>

      <div id='home'><a href='/'>Ensemble list</a></div>

      <div class='info'>
	<span class='label'>{{ ensemble }}</span>
	<span>Version:</span>

	<select id='version' class='button'>
	</select>

	<span>Stacks:</span>
	<span id='nstacks'></span>

	<span>Master Hulls:</span>
	<span id='nmasters'></span>

      </div>

      <div id='summary'>
	<table>
	  <thead>
	    <tr>
	      <th>Master</th>
	      <th>Ncpt</th>
	      <th>Action</th>
	      <th>Decision</th>
	    </tr>
	  </thead>
	  <tbody id='summarydata'>
	  </tbody>
	</table>
      </div>

      <div id='notes'><p class='label'>Notes</p>
	<textarea cols=32 rows=10 id='usercontent'></textarea>
	<br><button id='saveusercontent' class='button'>
	  Save notes</button></div>

      <!-- FOR NOW IGNORE THIS
      <div id='final'><button id='finish' class='button' 
			      type='button'>Finish review</button></div>
      -->

    </div>

    <div id='overviewbar'>
      <div id='username'>{{ username }}</div>
      <img id='overviewimage'>
    </div>

  </body>
</html>
