<DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>CHS review</title>
    <link rel='stylesheet' type='text/css' href='/css/index.css'>
    <link rel='stylesheet' type='text/css'
	  href='/css/datatables/jquery.dataTables.min.css'>
    <script src='/js/js9/js/spin.js'></script>

    <script src='/js/js9/js/jquery.js'></script>
    <script src='/js/datatables/jquery.dataTables.min.js'></script>
    <script src='/js/index.js'></script>
  </head>
  <body onload='initialize();'>

    <h1>Ensemble selection page</h1>
    <div id='summary'>

      <!-- <span>Last save:</span><span>never</span> -->
      <span>To do:</span>
      <span id='ntodos'></span>
      <span>To review:</span>
      <span id='nreviews'></span>
      <span>For final review:</span>
      <span id='ncompleted'></span>
      <span>Finished:</span>
      <span id='nfinished'></span>
      <!--
      <span>Manual adjustment:</span>
      <span id='nmanual'></span>
      -->
      <span>Errors:</span>
      <span id='errors'></span>
      <span>Directory:</span><span>{{ datadir }}</span>
    </div>

    <p class='label'>Notes</p>
    <textarea cols=80 rows=10 id='usercontent'></textarea>
    <br>
    <button id='saveusercontent' class='button'>Save notes</button>

    <p class='label'>To do</p>
    <div id='todo' class='selection'>
      <table id='todo-table' class='display'>
	<thead>
	  <tr>
	    <th>Ensemble</th>
	    <th>To do</th>
	    <th>Masters</th>
	    <th>Stacks</th>
	    <!-- <th>Last Modified</th> -->
	    <th>Revision</th>
	  </tr>
	</thead>
	<tbody id='todo-table-body'>
	</tbody>
      </table>
    </div>

    <p class='label'>Review</p>
    <div id='review' class='selection'>
      <table id='review-table' class='display'>
	<thead>
	  <tr>
	    <th>Ensemble</th>
	    <th>To do</th>
	    <th>Masters</th>
	    <th>Stacks</th>
	    <!-- <th>Last Modified</th> -->
	    <th>Revision</th>
	  </tr>
	</thead>
	<tbody id='review-table-body'>
	</tbody>
      </table>
    </div>

    <p class='label'>For final review</p>
    <div id='completed' class='selection'>
      <table id='completed-table' class='display'>
	<thead>
	  <tr>
	    <th>Ensemble</th>
	    <th>To do</th>
	    <th>Masters</th>
	    <th>Stacks</th>
	    <!-- <th>Last Modified</th> -->
	    <th>Revision</th>
	  </tr>
	</thead>
	<tbody id='completed-table-body'>
	</tbody>
      </table>
    </div>

    <!--
    <p class='label'>Manual adjustment</p>
    <div id='manual' class='selection'>
      <table id='manual-table' class='display'>
	<thead>
	  <tr>
	    <th>Ensemble</th>
	    <th>To do</th>
	    <th>Masters</th>
	    <th>Stacks</th>
	    <th>Last Modified</th>
	  </tr>
	</thead>
	<tbody id='manual-table-body'>
	</tbody>
      </table>
    </div>
    -->
    
    <p class='label'>Finished</p>
    <div id='finished' class='selection'>
      <table id='finished-table' class='display'>
	<thead>
	  <tr>
	    <th>Ensemble</th>
	    <th>To do</th>
	    <th>Masters</th>
	    <th>Stacks</th>
	    <!-- <th>Last Modified</th> -->
	    <th>Revision</th>
	  </tr>
	</thead>
	<tbody id='finished-table-body'>
	</tbody>
      </table>
    </div>

  </body>
</html>
