<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>{{ ensemble }}: v{{ revstr }} hull {{ mid }}</title>

    <link type="text/css" rel="stylesheet" href="/js/js9/js9support.css">
    <link type="text/css" rel="stylesheet" href="/js/js9/js9.css">
    <link rel="apple-touch-icon" href="/js/js9/images/js9-apple-touch-icon.png">
    <script type="text/javascript" src="/js/js9prefs-chs.js"></script>
    <script type="text/javascript" src="/js/js9/js9support.min.js"></script>
    <script type="text/javascript" src="/js/js9/js9.min.js"></script>
    <script type="text/javascript" src="/js/js9/js9plugins.js"></script>

    <script type="text/javascript" src="/js/extern/convexhull.js"></script>

    <!-- removed SAMP support for now
    <script type="text/javascript" src="/js/extern/samp.js"></script>
    -->

    <script type="text/javascript" src="/js/masterhull.js"></script>
    <link rel='stylesheet' type='text/css' href='/css/hull.css'>

  </head>

  <!-- sending in components in as part of regionstore is a hack -->
  <body onload='initialize({ensemble: "{{ ensemble }}",
	revstr: "{{ revstr }}",
	mid: "{{ mid }}",
	masterid: {{ masterid }},
        enbands_cpt: {{ enbands_cpt }},
	regionstore: {masterhulls: {{ hull_store | tojson }},
                      components: {{ components | tojson }}},
	npages: {{ npages }} });'>

    <div id='infobar'>
      <div id='home'>
	<a href='/'>Ensemble list</a>
	<br>
	<a href='/{{ ensemble }}'>{{ ensemble }}</a>
	<br>

{% for h in info['masters'] %}

 {% if h['masterid'] == mid %}
  <span class='hulllink'>{{ h['masterid_int'] }}</span>
 {% else %}
  <a class='hulllink' href='/{{ ensemble }}/{{ revstr }}/{{ h['masterid'] }}'>{{ h['masterid_int'] }}</a>
 {% endif %}

{% endfor %}
	
      </div>
      
      <div id='action'>

	User action:

{# Filled in by JS on page load #}
{% if is_latest %}
        <select required='true' id='choice' class='button'>
          <option value=''></option>
	  <option value='accept'>Accept</option>
	  <option value='delete'>Delete Master</option>
	  <option value='manual'>Manual</option>
        </select>
{% else %}
        <p id='chosen'></p>
{% endif %}
      </div>

      <div id='componentinfo'>
	<button id='componentselect' class='button'>Hide components</button>
	<table id='cptinfotable'>
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>mrg3 rev</th>
	      <th>Band</th>
	      <th>Likelihood</th>
	      <th>Man Adj</th>
	      <th>STK SVD QA</th>
	    </tr>
	  </thead>

	  <tbody>

{% for h in components %}

            <tr>
	      <td>{{ h['name'] }}</td>
	      <td>{{ h['mrg3rev'] }}</td>
	      <td>{{ h['eband'] }}</td>
	      <td>{{ "%.1f"|format(h['likelihood']) }}</td>
	      <td><input type='checkbox' disabled
			 {% if h['adjusted'] %} checked {% endif %}
	           ></td>
	      <td><input type='checkbox' disabled
			 {% if h['svdqa'] %} checked {% endif %}
	           ></td>
	    </tr>

{% endfor %}

	  </tbody>
	</table>

{# FOR NOW HIDE THIS
	<table id='cptchoicetable'>
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Use for Centroid</th>
	      <th>Change master</th>
	      <th>Delete</th>
	    </tr>
	  </thead>

	  <tbody>

{% for h in components %}

            <tr>
	      <td>{{ h['name'] }}</td>
	      <td><input type='checkbox'
			 class='include_in_centroid'
			 value='{{ h['name'] }}'
			 id='include_in_centroid_{{ h['name']  }}'
			 {% if h['include_in_centroid'] %} checked {% endif %}
	           ></td>

	      <!-- The following two are mutually exclusive -->
	      <td><input type='radio'
			 class='change_master'
			 value='{{ h['name'] }}'
			 name='invalid_master_{{ h['name'] }}'
			 id='change_master_{{ h['name'] }}'
			 {% if h['masterid'] == 0 %} checked {% endif %}
			 ></td>
	      <td><input type='radio'
			 class='delete_component'
			 value='{{ h['name'] }}'
			 name='invalid_master_{{ h['name'] }}'
			 id='delete_component_{{ h['name'] }}'
			 {% if h['masterid'] == -1 %} checked {% endif %}
			  ></td>
	    </tr>

{% endfor %}

	  </tbody>
	</table>
#}
      </div>

      <div class='info'>
	<span class='label'>{{ ensemble }}</span>

	<span>Hull:</span>
	<span id='hullid'>{{ mid }}</span>

	<span>Number components:</span>
	<span id='ncomponents'>{{ ncpts }}</span>

	<span>Detectors:</span>
	<span id='detectors'>{{ detectors }}</span>

	<span>Version:</span>
	<span>{{ revstr }}</span>
      </div>

      <div id='sampcontrols'>SAMP:
	<select id='showinsamp'>
	  <option value='' selected></option>

{% for stk in ordered_stacks %}
          {# want stk in the label written out as :03d #}
          <option value='{{ stk }}'>{{ stk }}: {{ info['stackmap'][stk] }}</option>
{% endfor %}

	</select>
      </div>

      <div id='js9controls'>JS9:
	<select id='showinjs9'>
	  <option value='' selected></option>

{% for stk in ordered_stacks %}
 {% for cpt in hull_store[masterid]['components'][stk] %}
          {# want numeric value as 03d here #}
          <option
            value='{{ stk }},{{ info['stackmap'][stk] }},{{ cpt }}'>{{ info['stackmap'][stk] }}: {{ stk }} . {{ cpt }}</option>
 {% endfor %}
{% endfor %}

        </select>

      </div>

      <div id='summary'>
	<select id='imgscale' class='button'>
	  <option value='log10' selected>log 10</option>
	  <option value='sqrt'>square root</option>
	  <option value='none'>linear</option>
	</select>

{% if hull['npages'] > 1 %}

        <table>
	  <thead>
	    <tr>
	      <th>Page</th><th>Select</th>
            </tr>
	  </thead>
	  <tbody>

{% for p in range(1, hull['npages'] + 1) %}

            <tr>
              <td><label for='page{{ p }}'>{{ p }}<label></td>
              <td><input name='pagechoice' type='radio' id='page{{ p }}'
                   value='{{ p }}'
              {% if p == 1 %} checked {% endif %}
              ></td>
            </tr>
{% endfor %}

          </tbody>
        </table>
{% endif %}

	{# indicate color mappings #}
	<button id='colormappingselect' class='button'>show colors</button>
	<div id="colormapping">
	  <table>
	    <thead>
	      <tr>
		<th>Color/Shape</th><th>Meaning</th>
	      </tr>
	    <tbody>
	      <tr>
		<td>White ellipse</td>
		<td>Stack PSF (from xmdat3 file)</td>
	      </tr>
	      <tr>
		<td>White polygon</td>
		<td>Original proposed master hull</td>
	      </tr>
	      <tr>
		<td>Solid Gold</td>
		<td>Proposed master hull (including any user modifications).
		This may <em>not</em> form a convex hull.</td>
	      </tr>
	      <tr>
		<td>Dashed Cyan</td>
		<td>Proposed hull(s) but it's a QA case</td>
	      </tr>
	      <tr>
		<td>Dashed Lime</td>
		<td>Convex hull around proposed master hull (only visible if proposed hull is <em>not</em> convex).</td>
	      </tr>
	      <tr>
		<td>Orange</td>
		<td>Stack hull (dashed if there was manual adjustment)</td>
	      </tr>
	      <tr>
		<td>Red/Brown</td>
		<td>Other hulls in this stack (dashed means manual adjustment).</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

      </div>

      <div id='notes'><p class='label'>Notes</p>
	<textarea cols=32 rows=10 id='usercontent'></textarea>
	<br><button id='saveusercontent' class='button'>
	  Save notes</button></div>

    </div>

    <div id='overviewbar'>
      <!--
	  <div id='username'>{{ username }}</div>
      -->

      <img alt='Overview image of hull' id='pageview'>

    </div>

  </body>
</html>
